<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light  sidebar collapse shadow ">
    <!-- image profile -->
    <div class=" col-12 d-flex justify-content-center align-items-center p-4 position-relative ">
      <img src="images/r.jpg" width="50%" class="img-fluid rounded-circle" alt="">
      <a role="button" data-bs-toggle="modal" data-bs-target="#e" class="position-absolute bg-white
          border border-primary rounded d-flex justify-content-center align-items-lg-center rounded-circle" 
          style="bottom: 10%;left: 35%; width: 30px;height: 30px;">
         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square " viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg>
      </a>
  </div>
  <div class="col-12 text-center mb-5">
      <p class="fs-4 fw-bold" href="" style="color: #10b3b0 ;">Ruqaiah Saif</p>
     
  </div>
  <div class="position-sticky  " >
    <ul class="nav flex-column shadow ">
        <li class="nav-item" >
          <a class="nav-link active" aria-current="page" href="dashboard">
            <svg xmlns="http://www.w3.org/2000/svg" style="color:#10b3b0" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
            <span class="ml-2">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dash-Experince">
            <svg xmlns="http://www.w3.org/2000/svg"  style="color:#10b3b0" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
            <span class="ml-2">Experience</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dash-Edu">
            <svg xmlns="http://www.w3.org/2000/svg"  style="color:#10b3b0" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
            <span class="ml-2">Eductional</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dash-Skill">
            <svg xmlns="http://www.w3.org/2000/svg" style="color:#10b3b0"  width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
            <span class="ml-2">skills</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dash-social">
            <svg xmlns="http://www.w3.org/2000/svg" style="color:#10b3b0" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
            <span class="ml-2">Social</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dash-social">
            
            <svg xmlns="http://www.w3.org/2000/svg" style="color:#10b3b0" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
            <span class="ml-2">Services</span>
          </a>
        </li>
       
       
       
      </ul>
</div>
</nav>
 <!-- Modal Edit Image Profile -->
 <div class="modal fade" id="e" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content p-3">
          <div class="modal-header">
              <h4 class="modal-title fw-bold text-center" id="exampleModalLabel">Edit image profile</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form class="row g-3 needs-validation"  >
              
                  <div class="col-12">
                      <div class="input-group mb-3">
                          <input type="file" class="form-control" id="inputGroupFile02"name="image">
                          <button  class="btn btn-primary" type="submit">Sumbut</button>
                      </div>
                  </div>
                 
              </form>
          </div>
         
      </div>
  </div>
</div>